html,
body {
  /* object-fit: scale-down;
  background-image: url('/images/background/night-sky.jpg'); */
  /* max-width: 900px;
  margin: 0 auto; */
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.hljs {
  padding: 20px;
  border-top: 1px solid rgb(89, 85, 85);
  border-bottom: 1px solid rgb(124, 116, 116);
  border-radius: 15px;
}
.post__content img {
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Miwon', 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}
